.div {
    height: 200px;
    width: 400px;
    background: black;
    text-align: center;
    position: center;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: 200px;
}
.hi {
  color: white;
  text-align: center;
}
